body {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #963030;
  font-size: 17px;
}
ul {
    list-style-type: none;
}
li.headerstuff {
    display: block;
    float: left;
    width: 16%;
    font-size: 30px;
    border: 2px solid #963030;
    border-radius: 5px;
    text-align: center;
}
div.homepagelink {
  height: 50px;
  text-align: center;
  position: relative;
  display: inline;
  z-index: auto;
}
div.header1 {
  height: 50px;
  text-align: center;
  position: relative;
  display: inline;
  z-index: auto;
}
div.header2 {
  height: 50px;
  text-align: center;
  position: relative;
  display: inline;
  z-index: auto;
}
div.header3 {
  height: 50px;
  text-align: center;
  position: relative;
  display: inline;
  z-index: auto;
}
div.header4 {
  height: 50px;
  text-align: center;
  position: relative;
  display: inline;
  z-index: auto;
}
div.header5 {
  height: 50px;
  text-align: center;
  position: relative;
  display: inline;
  z-index: auto;
}
div#homepage {
  text-align: center;
  width: 60%;
  margin-left: 18%;
}
img#img_about_1 {
  height:200px;
  margin-left: 37%;
}
li div a {
  text-decoration: underline;
  color: #963030;
  display: inline;
  width: 60px;
}
li div a : hover {
  text-decoration: underline;
  color: #309696;
}
h2 {
  text-align: center;
  color: #963030;
}
p#intro-hmpg {
  text-align: center;
  color: #963030;
}
p a {
  text-decoration: none;
  color: #963030;
}
div#titel_about {
  color: #963030;
  text-align: center;
}
div#wat_is {
  height: auto;
  width: 75%;
  text-align: center;
  position: relative;
  margin: auto;
}
div#wanneer {
  height: auto;
  width: 75%;
  text-align: center;
  position: relative;
  margin: auto;
}
div#genres {
  height: auto;
  width: 75%;
  text-align: center;
  position: relative;
  margin: auto;
}
div#vergelijkbaar {
  height: auto;
  width: 75%;
  text-align: center;
  position: relative;
  margin: auto;
}
img.plaatjelove {
  height: 150px;
}
li div h3 {
  font-size: 20px;
}
li div p {
  font-size: 20px;
}
li div ul li {
  font-size: 20px;
}
li.geen_opmaak {
  border-style: none;
}
ul.p2 {
  list-style-type: circle;
}
li.pagina2over {
  margin-top: 10px;
  display: block;
  clear: both;
  float: inherit;
}
div#p1overhardstyle {
  text-align: center;
  width: 70%;
  margin-left: 15%;
}
li div ul {
  list-style-type: none;
}
img.img_artists {
  height: 200px;
  width: auto;
}
div#list_artist {
  text-align: center;
  width: 60%;
  margin-left: 18%;
}
div#header {
  text-align: center;
}
a.utubelinks {
  text-decoration: underline;
  color: #277538;
}
ul#festivallijst {
  text-align: center;
  list-style-type: none;
}
ul.lijstartiestenstromingen {
  text-align: center;

}
div#festivals{
  text-align: center;
  width: 60%;
  margin-left: 20%;
}
h1#titel_festivals {
  text-align: center;
}
img.fotofestivals {
  height: 200px;
  width: auto;
}
a.linkanthems {
  text-decoration: none;
}
h1#overmijheader {
  text-align: center;
}
table#tabel {
  border: 1px solid #963030;
  text-align: center;
  margin-left: 25%;
}
a.iets {
  text-decoration: underline;
  color: #277538;
  text-align: center;
}
div#blokover {
  text-align: center;
  width: 60%;
  margin-left: 20%;
}
div#paginastromingen {
  text-align: center;
  width: 60%;
  margin-left: 20%;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
a#linkterug {
  text-decoration: underline;
  color: #277538;
}
div.utubevids {
  display: inline;
}
iframe.videooo {
  width: 200px;
  height: 113px;
  margin-left:12%;
  margin-bottom: 40px;
}
iframe.videooo : hover {
  height: 560px;
  width: 315px;
  display: block;
}
div.utubevids : hover {
  height: 560px;
  width: 315px;
  display: block;
}
.videooo {
    width: 315px;
    height: 560px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.transition {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}
div#videos {
  width: 75%;
  margin-left: 8%;
  text-align: center;
}
